doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale: 1.0")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
		link(rel="stylesheet", href="/stylesheets/style.css")
	body
		.nav
			a(href='/') Home
			if (!session.user)
				a(href='/login') Login
				a(href='/signup') Sign up
			if (session.user)
				if (session.user.username == 'admin')
					a(href='/admin') Dashboard
				a(href='/logout') Log out
		block content