extends layout

block content
	h1 Login

	form(action="/login" method="POST")
		div
			label(for="username") Username
			input#username(name="username")
		div
			label(for="password") Password
			input#password(type="password", name="password")
		div
			button.dlt-btn.add-btn(type="submit", style="border: none; cursor: pointer") Login
	if (err)
		h2(style="color: #F0EECD; text-align: center; background: #D94B25; padding: 16px")= err

