extends layout

block content
	h1 Login

	form(action="/login" method="POST")
		div
			label(for="username") Username
			input#username(name="username")
		div
			label(for="password") Password
			input#password(type="password", name="password")
		div
			input(type="submit", value="Log in")


