extends layout

block content
	h1 Sign up
	
	form(action="/signup" method="POST")
		div
			label(for="username") Username
			input#username(name="username")
		div
			label(for="password") Password
			input#password(type="password", name="password")
		div
			label(for="email") Email
			input#password(type="text", name="email")
		div
			button.dlt-btn.add-btn(type="submit", style="border: none; cursor: pointer") Sign up
